"""
配置文件
"""

IS_CUSTOM_MODEL = True # 是否使用自定义模型
MODEL_TYPE = "OnnxModel" # 目前只支持onnx格式 可以自定义模型类型在model文件中添加该模型类
MODEL_PATH = "models/best.onnx" # 模型路径 以项目根目录为基准
DEBUG = True # 是否开启调试模式
USE_GPU = False # 是否使用GPU,默认使用cpu进行推理
